body {
  height: 100%;
}

.navbar-inverse {
    background-color: rgba(0,0,0,0.85);
    -webkit-transition: height .2s;
    transition: height .2s;
}

.navbar {
    margin-bottom: 30px;
    border-radius: 0;
}

.bottom-menu-inverse {
    color: white;
    background-color: rgba(0,0,0,0.85);
    background-image: -webkit-linear-gradient(left,rgba(153,93,179,0.6), rgba(44,155,219,0.6) );
    background-image: -moz-linear-gradient(left,rgba(153,93,179,0.6), rgba(44,155,219,0.6) );
    background-image: -o-linear-gradient(left,rgba(153,93,179,0.6), rgba(44,155,219,0.6) );
    background-image: linear-gradient(to right,rgba(153,93,179,0.6), rgba(44,155,219,0.6) );
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1) ,0px 1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1) ,0px 1px 0 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1) ,0px 1px 0 0 rgba(0,0,0,0.1);
}

#customBtn {
    display: inline-block;
    width: 215px;
    margin: 25px 0 0 0;
    border-radius: 3px;
    white-space: nowrap;
    color: white;
    background: #dd4b39;
}

#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}

span.label {
    font-weight: bold;
}

span.icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    border-right: #bb3f30 1px solid;
    vertical-align: middle;
    background: url('https://google-developers.appspot.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
}

span.buttonText {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Lato',arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
}

.signup-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.signup-subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.signup-footer {
    margin: 40px 0 0 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

.modal {
    margin-top: 100px;
}

.social-home {
    margin: 50px 0 0 0;
}

.menu-map {
    z-index: 95;
    position: absolute;
    height: 50px;
    margin: 600px 0 0 225px;
}

.menu-map .iconbar.iconbar-horizontal.iconbar-success {
    height: 55px;
}

.menu-map .iconbar.iconbar-horizontal.iconbar-success .col-md-11 {
    z-index: 98;
    position: relative;
    padding-top: 7px;
}

.menu-map .iconbar.iconbar-horizontal.iconbar-success .col-md-1 {
    z-index: 98;
    position: relative;
    padding-top: 7px;
    margin-left:-20px;
}

.menu-map .col-md-9 .iconbar.iconbar-horizontal.iconbar-success {
    width: 100%;
}

.popover.fade.top.in {
    display: block;
    top: -90px;
    left: -64px;
    width: 350px;
}

input[type="range"] {
-webkit-appearance: none;
background-color: #2ecc71;
border-radius: 30px;
display: block;
height:10px;
position: relative;
z-index: 1;
margin: 0 0 20px 0;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
background-color: #16a085;
border-radius: 50%;
cursor: pointer;
height: 18px;
position: relative;
width: 18px;
}

.footer {
padding-bottom: 50px;
float: left;
width: 100%;
bottom: 0;
  height: 4em;
}