
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjJxc44nSySOq2L1oan1jEmJkl4pc7i4&libraries=geometry&sensor=true">
    </script>
    <script type="text/javascript"
	    src="static/js/route.js">
    </script>
    <script type="text/javascript"
	    src="static/js/poi.js">
    </script>
    <script type="text/javascript"
	    src="static/js/geolocation.js">
    </script>
    <script type="text/javascript"
	    src="static/js/distance.js">
    </script>
    <script type="text/javascript"
	    src="static/js/elevation.js">
    </script>
    <script type="text/javascript"
	    src="static/js/map.js">
    </script>
    <script type="text/javascript">


function onLoad()
{
    geolocation_setCurrentPosition();
    var tracks = {{tracks}};
//    load_tracks(tracks, parseInt(document.getElementById('radius').value, 10) * 1000);
load_tracks(tracks, 10);
    load_POIs({{POIs|safe}});
    drawElevation(tracks[2]);
    distance_calculate(tracks[2], google.maps.TravelMode.DRIVING);
}


</script>
</head>
<body>
    {% include view %}
    <div id="map-canvas"></div>
    <br/>
    <div id="elevation_chart"></div>
    <div id="distance_info"></div>
</body>
</html>
