<!DOCTYPE html>
<html>
<head>
  <title>HH</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">  

  <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="static/images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->

      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjJxc44nSySOq2L1oan1jEmJkl4pc7i4&libraries=geometry&sensor=true">
      </script>
      <script type="text/javascript"
      src="static/js/route.js">
      </script>
      <script type="text/javascript"
      src="static/js/poi.js">
      </script>
      <script type="text/javascript"
      src="static/js/geolocation.js">
      </script>
      <script type="text/javascript"
      src="static/js/distance.js">
      </script>
      <script type="text/javascript"
      src="static/js/elevation.js">
      </script>
      <script type="text/javascript"
      src="static/js/map.js">
      </script>
      <script type="text/javascript">

      function load_track()
      {
        var track = {{track}};
        route_display(track);
      }

      function load_POIs()
      {
        var t_poi = {{POIs|safe}}
        $.each(t_poi, function(i, poi) {
         poi_display(poi);
       });
      }
      </script>
    </script>

    <style type="text/css">
    #intro { 
      background: url(static/images/intro.png) 50% 0 fixed; 
      height: auto;  
      margin: 0 auto; 
      width: 100%; 
      position: relative; 
      box-shadow: 0 0 50px rgba(0,0,0,0.8);
      padding: 100px 0;
    }
    #home { 
      background: url(static/images/home.jpg) 50% 0 fixed; 
      background-size: 100%;
      height: auto;  
      margin: 0 auto; 
      width: 100%; 
      position: relative; 
      box-shadow: 0 0 50px rgba(0,0,0,0.8);
      padding: 200px 0;
      color:white;
    }

    #home h2 {
      font-weight: 300;
    }

    #about { 
      background: white;
      height: auto;
      margin: 0 auto; 
      width: 100%; 
      position: relative; 
      box-shadow: 0 0 50px rgba(0,0,0,0.8);
      padding: 100px 0;
      color: #000;
    }

    </style>

  </head>

  <body>
    <!-- Section #2 -->
    <section id="home" data-speed="4" data-type="background">
      <div class="container text-center">
        <h2><u>People</u> need your <i>experiences</i><br>⤷ Become an <strong>explorer</strong>. ও</h2><br>
        <button class="btn btn-success navbar-btn" type="button" data-toggle="modal" data-target="#signup">Create a free account now »</button>
        <br><a href="#" type="button" data-toggle="modal" data-target="#signin" style="color:white;">Or SigIn now</a>
        <br><br><a class="btn btn-info navbar-btn" type="button" type="button" data-toggle="modal" href="#">Get the Free App »</a>

        <div class="social-home">
          <button class="btn btn-social-facebook"><i class="fui-facebook"></i></button>
          <button class="btn btn-social-twitter"><i class="fui-twitter"></i></button>
          <button class="btn btn-social-googleplus"><i class="fui-googleplus"></i></button>
          <button class="btn btn-social-pinterest"><i class="fui-pinterest"></i></button>

        </div>
      </div>
    </section>
    <!-- SignUp -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="signup-title" id="myModalLabel">Create a free account</div>
            <span class="signup-subtitle">Quick Sign Up</span>
            <span id="signinButton">
              <div id="gSignInWrapper">
                <div id="customBtn" class="customGPlusSignIn">
                 <span class="icon"></span>
                 <span class="buttonText"><a style="color:white;" href="/login">Sign Up using Google +</a></span>
               </div>
             </div>
           </span>
           <div class="signup-footer">Already have an account? <a href="/login">Click here to log in.</a></div>
         </div>
       </div>
     </div>
   </div>

    <!-- SignIn -->
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="signup-title" id="myModalLabel">Login</div>
            <span class="signup-subtitle">Quick Sign In</span>
            <span id="signinButton">
              <div id="gSignInWrapper">
                <div id="customBtn" class="customGPlusSignIn">
                 <span class="icon"></span>
                 <span class="buttonText"><a style="color:white;" href="/login">Sign In using Google +</a></span>
               </div>
             </div>
           </span>
           <div class="signup-footer">You don't have an account? <a data-target="#signup" href="#signup">Click here to sign up.</a></div>
         </div>
       </div>
     </div>
   </div>

   <div class="bottom-menu bottom-menu-inverse">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <ul class="bottom-links">
            <li><a href="https://twitter.com/search?q=%23fhacktory&src=hash">#Fhacktory 2K14</a></li>
          </ul>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3 navbar-brand">
          <ul class="bottom-links">
            <li style="font-size:14px;font-weight:200;"><a href="#fakelink"><strong>F</strong>ancy. <strong>U</strong>nicorn. <strong>C</strong>rew. <strong>K</strong>ilimanjaro</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Load JS here for greater good =============================-->
  <script src="static/js/jquery-1.8.3.min.js"></script>
  <script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="static/js/jquery.ui.touch-punch.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap-select.js"></script>
  <script src="static/js/bootstrap-switch.js"></script>
  <script src="static/js/flatui-checkbox.js"></script>
  <script src="static/js/flatui-radio.js"></script>
  <script src="static/js/jquery.tagsinput.js"></script>
  <script src="static/js/jquery.placeholder.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script>
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
})();

function render() {
    gapi.signin.render('customBtn', {
      //'callback': 'signinCallback',
      'clientid': '841077041629.apps.googleusercontent.com',
      'cookiepolicy': 'single_host_origin',
      'requestvisibleactions': 'http://schemas.google.com/AddActivity',
      'scope': 'https://www.googleapis.com/auth/plus.login'
  });
}

</script>
</body>
</html>
