Hello <b>{{session}}</b>.
<a href="/logout">logout</a>
<a href="/user/">Profile</a>
<form action="/search" method="post">
	<button class=""></button>
	<input  type="text" placeholder="Search"/>
	<select id="level" name="level"> 
		<option value="0" name="lvl">All</option>        
        <option value="1" name="lvl">Noob</option>       
        <option value="2" name="lvl">Mid+</option>       
        <option value="3" name="lvl">Bear Grylls</option>
	</select>
<!--<input type="checkbox" name="closest" value="closet">Closets Road-->
</form>